.money-lent {
  padding: 2rem;
  background-color: #f5eeee;
  min-height: 100vh;
  color: rgb(12, 12, 12);
}

.loan-form {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(6, 6, 6, 0.2), 0 6px 20px rgba(6, 6, 6, 0.2);
  color: black;
}

.form-style {
  color: #252424;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-add {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.loans-list {
  margin-top: 2rem;
  background-color: #f1eded;
  padding: 1rem;
  border-radius: 8px;
}

.loans-list table {
  width: 100%;
  border-collapse: collapse;
  color: rgb(26, 25, 25);
}

.loans-list th{
  border: 1px solid #333;
  padding: 0.5rem;
  text-align: left;
  color:#edeaea
}
.loans-list td{
  border: 1px solid #333;
  padding: 0.5rem;
  text-align: left;
  color:#edeaea

}
.loans-list th {
  background-color: #121111;
}
.loans-list td {
  background-color: #343333;
}
.btn-delete {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
